.title{
  display: block;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  border-bottom: 1px solid gray;
  font-weight: 700;
  padding: 10px;
}
.list-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub-title{
  font-size: xx-large;
  font-weight: 700;
}
.list-input{
  display: flex;
  align-items: center;
}
.list-nav input{
  outline: none;
  border: none;
}
button{
  border: 0;
  background-color: transparent;
}
.main_area{
  border-top: 1px solid gray;
  padding-top: 10px;
}
.list_state{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
#list-add{
  position: relative;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 5px;
}
#list-add div{
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
#list-add input{
  border: none;
  outline: none;
  margin: 0 10px;
  height: 100%;
  width: 70%;
  background-color: transparent;
}
#list-card{
  position: relative;
}
.card{
  margin: 10px 0;
}
.list_name{
  position: relative;
  padding: 0 5px;
  font-weight: 700;
}
.list_name::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 38, 0, 0.801);
  z-index: -1;
  border-radius: 5px;
}

.add_button{
  cursor: pointer;
  padding: 6px;
}
#list-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
  
}
#done-list{
  text-decoration: line-through;
  
}
#before_title::before{
  background-color: rgba(233, 96, 103, 0.5);
}
#done_title::before{
  background-color: rgba(185, 183, 183, 0.89);
}
#doing_title::before{
  background-color: rgb(188, 235, 118);
}